<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >


<platform name="android" />

<access origin="*"></access>
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />
<allow-intent href="geo:*" />
<plugin name="cordova-plugin-whitelist" spec="1" />
  <name>Herby województw i miast polskich</name>

  <description>
      Herby województw i miast polskich.
  </description>

  <author href="https://github.com/magamaj86/Aplikacja_herby" email="ola.jed@wp.pl">
      A.Jedrichowska, A.Juszczak
  </author>

</widget>